main {
  display: flex;
}

section {
  margin: 20px;
}

code {
  background: lightgray;
  padding: 4px;
  border-radius: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}